*{
	margin: 0;
	padding: 0;
}
#Bottom{
	position: fixed;
  display:flex;
	width: 100% ;
  height: 50px;
	font-size: 12px ;
	background-color:#BC42A9 ;
	bottom: 0px;

}
#Bottom > div{
	flex:1;
	text-align:center ;
	font-size: 13px ;

}
#Bottom > div > span{
  font-size: 25px ;
  line-height: 35px ;
}
.router-link-active{
	color: white ;
}
